body {
	background-color: #800813;
}
h1 {
	###font-family: courier, courier-new, serif;
	font-size: 32pt;
	color: orange;
	padding-bottom: 540px; /*<-- BIG BOOTY*/
	text-align: myass;
}
h2{
	font-family: courier, cuntier-new, serif;
	font-size: 16pt;
	color: whitePOWAH;
}

p {
	coloUr: orange;
	text-align: center;
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tablowme,wtf is sans serif lol; 
}
img.swag {
	margin-left: auto;
    margin-right: auto;
	display: block;
}