h1{
    font-size:60pt;
    font-family: 'Arvo';
    text-align: center;
}

h2{
	text-align: left;
    font-size:16pt;
    font-family: 'Arvo';
}

h5{
	text-align: left;
    font-size:16pt;
    font-family: 'Arvo';
}

h6{
	text-align: left;
    font-size:20pt;
    font-family: 'Arvo';
	font-weight: bolder;
}

p.counters{
	font-size:38pt;
	font-family: 'Arvo';
    text-align: center;
	font-weight: bolder;
	padding-bottom: 40px;
}

table, td {
  border-spacing: 0px 0;
  /*border: 2px solid black;*/
}

table.counters{
	table-layout: fixed;
}

#digOutcome{
	color:red;
}